*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    max-width: 100%;
}

button {
    border: none;
    font: inherit;
}

ul {
    list-style-type: none;
}

body {
    font-family: 'Heebo', sans-serif;
    font-size: 1.4rem;
    /* overflow-y: hidden;
    overflow-x: hidden;  */
}

header {
    position: sticky;
    top: 0;
    background-color: #ffffff;
}

.marquee {
    display: flex;
    align-items: center;
    background-color: black;
    color: #ffffff;
    overflow: hidden;
    height: 6.5rem;
}

.marquee p {
    font-size: 5.4rem;
    white-space: nowrap;
    word-spacing: 2.7rem;
    font-weight: 700;
    text-transform: uppercase;
}

.info-section {
    display: grid;
}

.info-container {
    border-top: 1px solid black;
    display: grid;
    grid-template-rows: repeat(2,1fr);
}

.info-with-img {
    display: flex;
    border-bottom: 1px solid black;
    font-size: 1.2rem;
}

.info-text-container{
    display: flex;
    flex-direction: column;
    border-right: 1px solid black;
    width: 50%;
    justify-content: space-between;
}

.info-text-container h4{
    text-transform: uppercase;
}

.marsell-container .info-no-img {
    margin-bottom: 2rem;
}

.info-img-container {
    background-color: bisque;
    width: 50%;
}

.info-inner-text h4 {
    padding-bottom: 0.4rem;
}

.info-no-img {
    display: flex;
    flex-direction: column;
    gap: 1.8rem;
    font-size: 1.4rem;
}

.info-no-img h2{
    font-size: 1.8rem
}

.design-section {
    height: 16rem;
    border-top: 1px solid black;
    background-color: bisque;
}

@media (width < 1024px) {
    .marquee {
        margin-top: 2rem;
    }

    .nav-section {
        position: absolute;
        width: 100%;
    }

    .nav-mobile-section {
        display: flex;
        background-color: white;
        justify-content: center;
        align-items: center;
        border-top: 1px solid black;
        border-bottom: 1px solid black;
    }

    .nav-mobile-section i {
        position: fixed;
        top: 3.2rem;
        left: 1.7rem;
        font-size: 1.8rem;
    }

    .nav-logo-container {
        padding-block: 0.7rem;
    }

    .nav-logo{
        width: 15rem;
        height: 5rem;
    }

    .nav-menu {
        display: none;
    }

    .nav-socials {
        display: flex;
        position: fixed;
        bottom: 0;
        width: 100%;
        background-color: #ffffff;
        height: 5rem;
        font-size: 1rem;
        border-top: 1px solid black;
        border-bottom: 1px solid black;
    }

    .nav-phone-container,
    .nav-envelope-container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50%;
    }

    .nav-phone-container {
        border-right: 1px solid black;
    }

    .nav-linkedin-container {
        display: none;
    }

    .we-do-container {
        margin-bottom: 6rem;
    }

    .we-do-section {
        padding-top: 6rem;
        margin-bottom: 5rem;
        display: grid;
        gap: 3rem;
    }

    .video-container {
        background-color: bisque;
        height: 97vw;
        border-bottom: 1px solid black;
    }

    .empty-container,
    .scroll-container,
    .second-empty-container {
        display: none;
    }

    .we-are-studio375-container,
    .we-support-container {
        max-width: 89%;
        margin-left: 1.6rem;
    }

    .we-are-studio375-container h1 {
        font-weight: 700;
        font-size: 2.3rem;
        margin-top: 1.5rem;
        padding-bottom: 0.8rem;
        line-height: 3rem;
    }

    .we-are-studio375-container p {
        font-size: 1.6rem;
    }

    .info-section {
        grid-template-columns: 1fr;
    }

    .info-container {
        height: calc(100vw + 3rem);
    }

    .info-text-container{
        padding: 1rem 2.5rem 1rem 1.5rem;
    }

    .info-no-img {
        padding: 2rem 2rem 0 1.5rem;
    }

    footer {
        margin-bottom: 5rem;
        font-size: 1.1rem;
        text-transform: uppercase;
    }

    .footer-via {
        display: none;
    }

    .footer-policy,
    .footer-copyright {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 5.2rem;
        border-top: 1px solid black;
    }

    .footer-policy {
        gap: 1.7rem;
    }

    .footer-policy :first-child {
        padding-right: 1.7rem;
        border-right: 1px solid gray;
    }
}

@media (min-width: 500px) {
    .video-container {
        height: 65vw;
    }

    .info-container {
        height: 50rem;
        grid-template-rows: 60% 40%;
    }
}

@media (width > 767px) {
    .nav-socials {
        height: 7.3rem;
    }

    .marquee {
        height: 7rem;
    }
    
    .marquee p {
        padding-top: .5rem;
        font-size: 6.5rem;
    }

    .we-are-studio375-container,
    .we-support-container {
        margin-left: 4rem;
    }

    footer {
        display: flex;
        flex-direction: row-reverse;
        width: 100%;
        margin-bottom: 7.3rem;
    }

    .footer-copyright,
    .footer-policy {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50%;
    }

    .footer-copyright {
        border-right: 1px solid black;
    }

    .info-container {
        height: 57rem;
        display: grid;
        grid-template-rows: 60% 40%;
    }

    .info-no-img {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-top: 0;
        max-width: 90%;
    }

    .info-text-container {
        padding-block: 2.9rem;
    }

    .marsell-container .info-no-img {
        margin-bottom: 0;
    }

    .nav-logo-container {
        padding-block: 1.2rem;
    }
}

@media (width > 1023px) {
    body {
        line-height: 2.3rem;
    }

    .nav-logo{
        width: 15.5rem;
        height: 6rem;
    }

    .nav-mobile-section i {
        display: none;
    }

    .nav-section {
        display: grid;
        grid-template-columns: 25% 50% 25%;
        height: 9rem;
        border-bottom: 1px solid black;
        font-size: 1.6rem;
    }

    .nav-socials {
        height: 0;
        display: flex;
        margin-top: 4.5rem;
        padding-right: 3rem;
        gap: 2.2rem;
        justify-content: flex-end;
        align-items: center;
        font-size: 0.8rem;
    }

    .nav-linkedin-container {
        padding-left: 2.1rem;
    }

    .nav-menu {
        font-weight: 700;
        display: flex;
        justify-content: center;
        align-items: center;
        border-left: 1px solid black;
        border-right: 1px solid black;
    }

    .nav-menu ul {
        display: flex;
        gap: 3.84rem;
        padding-right: 3.4rem;
    }

    .we-do-section {
        display: grid;
        font-size: 1.5rem;
        border-bottom: 1px solid black;
        grid-template-columns: 25% 50% 25%;
        grid-template-areas: 'studio375 video support'
        'empty scroll second-empty';
    }

    .we-are-studio375-container {
        grid-area: studio375;
        gap: 2rem;
    }

    .we-are-studio375-container,
    .we-support-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-left: 2rem;
        max-width: 80%;
    }

    .video-container {
        background-color: bisque;
        grid-area: video;
        height: 40.7rem;
        border-left: 1px solid black;
        border-right: 1px solid black;
    }

    .we-support-container {
        grid-area: support;
    }

    .empty-container {
        grid-area: empty;
        height: 7vw;
    }

    .scroll-container {
        grid-area: scroll;
        display: flex;
        justify-content: center;
        align-items: center;
        border-left: 1px solid black;
        border-right: 1px solid black;
    }

    .second-empty-container {
        grid-area: second-empty;
    }

    .empty-container,
    .scroll-container,
    .second-empty-container {
        border-top: 1px solid black;
    }

    .marquee {
        height: 9rem;
    }
    
    .marquee p {
        padding-top: 1rem;
        font-size: 8rem;
    }

    .info-section {
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: 
        'beato mioni'
        'marsell militem'
        'lamm musei'
        'design design';
    }

    .info-container {
        height: 42vw;
    }

    .info-text-container{
        padding: 2.5rem 1rem 2.5rem 1.5rem;
    }
    
    .info-no-img {
        justify-content: center;
        padding: 0 2rem 0 1.5rem;
    }
    
    .beato-container,
    .marsell-container,
    .lamm-container {
        border-right: 1px solid black;
    }

    .beato-container {
        grid-area: beato;
    }

    .marsell-container {
        grid-area: marsell;
    }
    
    .lamm-container {
        grid-area: lamm;
    }

    .mioni-container {
        grid-area: mioni;
    }

    .militem-container {
        grid-area: militem;
    }

    .musei-container {
        grid-area: musei;
    }
    
    .design-section {
        grid-area: design;
        height: 20rem;
    }

    footer {
        display: grid;
        grid-template-columns: 27% 46% 27%;
        grid-template-areas: 'copyright via policy';
        height: 9rem;
        margin-bottom: 0;
        font-size: 1.2rem;
        text-transform: uppercase;
        border-top: 1px solid black;
    }

    .footer-copyright {
        grid-area: copyright;
        border-right: 0;
    }

    .footer-policy,
    .footer-copyright,
    .footer-via {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .footer-policy {
        grid-area: policy;
        gap: 1.7rem;
    }

    .footer-policy :first-child {
        padding-right: 1.7rem;
        border-right: 1px solid gray;
    }

    .footer-via {
        border-left: 1px solid black;
        border-right: 1px solid black;
        grid-area: via;
    }
}

@media (width > 1239px) {
    body {
        font-size: 1.6rem;
    }

    .nav-logo-container {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .nav-menu ul{
        gap: 5.5rem;
    }

    .video-container {
        height: 48rem;
    }

    .info-with-img {
        font-size: 1.6rem;
    }

    .info-text-container{
        padding: 2.7rem 1rem 2.7rem 4rem;
    }

    .info-text-container h4 {
        font-weight: 800;
        font-size: 1.5rem;
    }

    .info-no-img {
        font-size: 1.6rem;
        max-width: 48%;
        padding-left: 4rem;
    }
    
    .info-no-img h2{
        font-size: 2rem
    }

    .we-are-studio375-container {
        max-width: 70%;
    }

    .we-are-studio375-container,
    .we-support-container {
        margin-left: 4.5rem;
    }

    .we-are-studio375-container h1 {
        font-size: 2.4rem;
        line-height: 3rem;
    }

    .we-are-studio375-container p ,
    .we-support-container {
        font-size: 1.7rem;
        line-height: 2.7rem;
    }
}

@media (width > 1439px) {
    .video-container {
        height: 48vw;
    }
}